.status {
  background-color: #e6ffe6;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #4CAF50;
  color: #256029;
}

.error {
  background-color: #ffe6e6;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #f44336;
  color: #a94442;
}
